/* --------------- CSS Reset --------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- General Styling ------ */
:root {
	--player1-colour: #6093E0;
	--player2-colour: #E06060;
	--com-colour: #E0CC60;
	--accent-colour: #454745;
	--input-colour: #454745;
	--bg-colour: #FDFDFD;

	font-weight: 700;
}

* {
	color: var(--accent-colour);
}


body {
	background-color: var(--bg-colour);
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



/* --- Container Styling --- */
.skew-container {
	background-color: var(--accent-colour);
	color: var(--bg-colour);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 300ms;
	border-width: 0;
	padding: 0;
}

	.skew-left{
		transform: skew(45deg);
	}

		.skew-left > * {
			transform: skew(-45deg);
		}

	.skew-right {
		transform: skew(-45deg);
	}

		.skew-right > * {
			transform: skew(45deg);
		}

	.stripe {
		position: relative;
		right:2px;
		width: 30px;
		background-color: var(--player1-colour);
	}

		.next > .stripe {
			left:2px;
		}	

	.name {
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 32px;
		width: 100%;
		height: 55%;
		box-sizing: border-box;
		padding-inline: 64px;
		text-wrap: nowrap;

		font-size: 2rem;
		color: var(--bg-colour);
	}

		.input-text {
			width: 100%;
			background-color: var(--bg-colour);
		}

			.input-text > input {
				box-sizing: border-box;
				width: 100%;
				background-color: transparent;
				border: none;
				outline: none;
				padding-inline: 16px;
				font-size: 1.75rem;
				text-align: center;
				font-weight: 700;
				color:var(--input-colour)
			}

/* --- General Main Menu Styling --- */
button > span {
	color: var(--bg-colour);
	font-weight: 700;
	font-size: 1.75rem;
}

.menu, .game {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;
	height: 500px;
}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

		.title {
			font-size: 6rem;	
		}

		.arrow {
			display: inline;
			height: 10px;
			width: 100%;
			position: relative;
			/* left: 30vw; */
			bottom: 8px;
			background-color: var(--player1-colour);
		}

		.subtitle {
			position: relative;
			bottom: 8px;
			left: 10vw;
			
		}

	.option, .nav, .prev, .next {
		display: flex;
		height: 80px;
		
	}

	.option {
		width: 700px;
	}

	.nav {
		gap: 128px;
	}
	
		.prev, .next {
			width: 270px;
			/* fon */
		}

/* --- Gameboard Styling --- */

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    gap: 16px;
	padding: 16px;
	background-color: black;
}

.cell {
    background-color: rgb(255, 255, 255);
    color: black;
}

/* --- Specific Player Styling --- */
	.player > .skew-container:hover {
		transition: background-color 300ms;
		background-color: var(--player1-colour);
	}

	.player > .skew-container:active {
		transition: background-color 6ms;
		background-color: var(--accent-colour);
	}

.player-inverse > .skew-container {
	background-color: var(--player1-colour);
}

.player-inverse > .stripe {
	background-color: var(--accent-colour);
}

.vs-player.arrow {
	background-color: var(--player2-colour);
}

.vs-player > .stripe {
	background-color: var(--player2-colour);
}

	.vs-player > .skew-container:hover {
		transition: background-color 300ms;
		background-color: var(--player2-colour);
	}

	.vs-player > .skew-container:active {
		transition: background-color 6ms;
		background-color: var(--accent-colour);
}

.vs-player-inverse > .skew-container {
	background-color: var(--player2-colour);
}

.vs-player-inverse > .stripe {
	background-color: var(--accent-colour);
}

.vs-com.arrow {
	background-color: var(--com-colour);
}

.vs-com > .stripe {
	background-color: var(--com-colour);
}

	.vs-com > .skew-container:hover {
		transition: background-color 300ms;
		background-color: var(--com-colour);
	}

	.vs-com > .skew-container:active {
		transition: background-color 60ms;	
		background-color: var(--accent-colour);
}

/* --- Animations --- */
/* Based on W3.CSS (Link: https://www.w3schools.com/w3css/default.asp) */
.animate-left{
	position:relative;
	animation:animateleft 0.7s;
}

.animate-left-reverse{
	position:relative;
	animation:animateleft 0.7s;
	animation-direction: reverse;
}

.animate-right-reverse{
	position:relative;
	animation:animateright 0.7s;
	animation-direction: reverse;
}

	@keyframes animateleft{
		from {
			left: 200vw;
			opacity:0;
		}
		
		to {
			left:0;opacity:1;
		}
	}

	@keyframes animateright{
		from {
			right: 200vw;
			opacity:0;
		}
		
		to {
			right:0;opacity:1;
		}
	}	