/* --------------- CSS Reset --------------- */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----- General Styling ------ */
:root {
	font-weight: 700;
}

body {
    min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* --- Button Styling --- */
.skew-container {
	background-color: black;
	color:white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

	.skew-left{
		transform: skew(45deg);
	}

		.skew-left > * {
			transform: skew(-45deg);
		}

	.skew-right {
		transform: skew(-45deg);
	}

		.skew-right > * {
			transform: skew(45deg);
		}

	.stripe {
		width: 30px;
		background-color: aqua;
	}

	.name {
		display: flex;
		justify-content: space-around;
		gap: 32px;
		width: 100%;
		padding-inline: 32px;
		text-wrap: nowrap;
	}

		.input-text {
			width: 100%;
			background-color: aliceblue;
		}

			.input-text > input {
				box-sizing: border-box;
				width: 100%;
				background-color: transparent;
				border: none;
				outline: none;
				padding-inline: 16px;
			}

/* --- Main Menu Styling --- */
.main-menu {
	display: flex;
	flex-direction: column;
	gap: 16px;
	justify-content: center;
	align-items: center;

	height: 500px;
}

	header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

		.title {
			font-size: 6rem;	
		}

		.arrow {
			display: inline;
			height: 10px;
			width: 100vw;
			position: relative;
			left: 30vw;
			bottom: 8px;
			background-color: aqua;
		}

		.subtitle {
			position: relative;
			bottom: 8px;
			left: 10vw;
		}

	.option, .nav, .prev, .next {
		display: flex;
		height:40px;
	}

	.option {
		width: 700px;
	}
	
	.nav {
		gap: 64px;
	}
	
		.prev, .next {
			width: 250px;
		}


/* .gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 400px;
    height: 400px;
    gap: 16px;
}

.cell {
    background-color: black;
    color: white;
} */